<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body background="pic.jpg">
			<nav>
	    		<ul>
				<li><a href="/">Home</a></li>
				<li><a hre="/knowme">Know Me</li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
				<li><a href="/game.html">Fun</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:coolchand5725@gmail.com">email</a></li>
	        		<li><a href="https://github.com/cyberfreak5725">github.com/cyberfreak</a></li>
				</ul>
			</footer>
		</body>
	</html>
