<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body background="pic.jpg">
			<nav>
	    		<ul>
				<li><a href="/">Home</a></li>
				<li><a hre="/knowme">Know Me</li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
				<li><a href="/game.html">Fun</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
				<li><a href="mailto:coolchand5725@gmail.com"><img src="gmail.png"></a></li>
				<li><a href="https://github.com/cyberfreak5725"><img src="git.png"></a></li>
				<li><a href="https://www.facebook.com/anukul.chand"><img src="fb.png"></a></li>
				</ul>
			
			<font style="comic sans ms" size=8> Made with ♥ by <a href="/knowme">Anukul chand </a></font>
				</footer>
		</body>
	</html>
